  <h2> Visualização dos Dados</h2>

  <p>
    <strong>Nome Complet:</strong>
    <%= current_paciente.nome_completo %>
  </p>

  <p>
    <strong>Data de Nascimento</strong>
    <%= current_paciente.data_nascimento %>
  </p>

  <p>
    <strong>CPF:</strong>
    <%= current_paciente.cpf %>
  </p>

  <p>
    <strong>Telefone:</strong>
    <%= current_paciente.telefone %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= current_paciente.email %>
  </p>

  <p>
    <strong>CEP:</strong>
    <%= current_paciente.endereco.cep %>
  </p>

  <p>
    <strong>Cidade:</strong>
    <%= current_paciente.endereco.cidade %>
  </p>

  <p>
    <strong>Bairro:</strong>
    <%= current_paciente.endereco.bairro %>
  </p>

  <p>
    <strong>Logradouro:</strong>
    <%= current_paciente.endereco.logradouro %>
  </p>

  <p>
    <strong>Complemento:</strong>
    <%= current_paciente.endereco.complemento %>
  </p>

  <%= link_to 'Editar dados', edit_paciente_path(current_paciente) %>
  <hr>

  <h2><%= link_to 'Ver Agendamentos', consultas_path(current_paciente)%></h2>

  <hr><hr>
  <%= link_to "Sair", sair_path, method: :delete %>