  <%= render 'layouts/error_messages', object: form.object %>

  <div class="field">
    <%= form.label :nome %>
    <%= form.text_field :nome %>
  </div>

  <div class="field">
    <%= form.label :crm %>
    <%= form.text_field :crm %>
  </div>

  <div class="field">
    <%= form.label :uf_crm %>
    <%= form.text_field :uf_crm %>
  </div>

  <div class="field">
    <%= form.label :especialidade %>
    <%= form.text_field :especialidade %>
  </div>

  <div class="field">
    <%= form.label :cpf %>
    <%= form.text_field :cpf %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>
