<h1>Cadastrar Médico</h1>

<%= form_with(model: @medico, url: medicos_path) do |form| %>
  <div class="field">
    <%= form.label :nome %>
    <%= form.text_field :nome %>
  </div>

  <div class="field">
    <%= form.label :especialidade %>
    <%= form.text_field :especialidade %>
  </div>

  <%= form.submit "Cadastrar" %>
<% end %>
